<div class="container" style="width: 850px;">
    <input class="mt-4" (input)="filterProducts(filter.value)" class="inputsearch" name="inputsearch" placeholder="search product here" id="inputsearch" style="width: 225px;" #filter>
    <table class="table table-striped" style="border: 1px solid salmon;">
        <thead>
            <tr class="bg-primary">
                <th (click)="sortBy('id')" scope="col">ProductID</th>
                <th (click)="sortBy('id')" scope="col">Name</th>
                <th (click)="sortBy('id')" scope="col">Type</th>
                <th (click)="sortBy('id')" scope="col">Brand</th>
                <th (click)="sortBy('id')" scope="col">Edit</th>
                <th (click)="sortBy('id')" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prd of filteredProducts">
                <td scope="row">{{prd.id}}</td>
                <td scope="row">{{prd.name}}</td>
                <td scope="row">{{prd.type}}</td>
                <td scope="row">{{prd.brand}}</td>    


                <td><button [routerLink]="['/product/edit', prd.id]" class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger" (click)="delete(+prd.id)">Delete</button></td>  
            </tr>
        </tbody>
    </table>    
</div>
