<div class="container mt-4 pt-4 bg-info  "style="width: 830px; height: 310px; border: 1px solid salmon;">
    <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="Product.name" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" name="type" [(ngModel)]="Product.type" class="form-control" id="type" aria-describedby="type" placeholder="Enter type">
        </div>
        <div class="form-group">
            <label for="name">Brand</label>
            <input type="text" name="brand"  [(ngModel)]="Product.brand" class="form-control" id="brand" aria-describedby="brand" placeholder="Enter brand">
          </div>
          <br>
        <button type="submit" (click)="update()" class="btn btn-primary">Update</button>
        <button type="button" (click)="cancel()" class="btn btn-danger m-4">Cancel</button>
      </form>
</div>
